/* @import '~antd/dist/antd.css'; */
@import '~antd/dist/antd.dark.css';
/* @import '~antd/dist/antd.compact.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;

}

body{
  height:100%;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  display: flex;
  align-items: center;
}

.site-layout .site-layout-background {
  background: #292b2c;
}

.site-layout-container{
  background: #292b2c;
  max-width: 50rem;
  position: relative;
  margin: 2rem auto !important;
}

.display-none{
  display: none;
}

.ant-table{
  background: #292b2c;
}

.ant-layout-header{
  padding: 0;
  height: 64px;
}

